body{
    font-family: sans-serif;
    min-height: 100%;
    color: rgb(50,50,50);
}

.fixed-nav{
    margin: 0 auto; /* центрирование блока */
    width: 100%; /* ширина блока fixblock */
    height: 71px; /* высота блока fixblock */
    position:fixed;
    z-index: 9;
}
.page-wrapper{
    padding-top:71px;
    z-index: 1;
}
.navbar-blue{
    background-color: rgb(39,98,149);
    margin-bottom:0;
}

.select2i{
    width: 100%;
}

.info-block{
    background-color: rgb(29,73,108);
}
.clock-block__date-text,
.clock-block__time-text{
    color: #fff;
}
.lang-variants{
    display: inline-block;
    margin-bottom:0;
}
.lang-variants__lng{
    display: inline;
}
.lang-variants__link{
    color: #fff;
}
.lang-variants__link:hover,
.lang-variants__link:focus{
    color: #f7f7f7;
}
.active .lang-variants__link{
    font-weight: 600;
}
.panel-footer,
.panel-heading{
    background-color: rgb(242,242,242);
    border-color: #ddd;
}

.btn-custom{
    color: #fff;
    font-weight: 600;
    background-color: rgb(52,152,219);
    border-color: rgb(52,152,219);
    padding: 6px 15px;
}
.btn-custom:hover{
    color: #fff;
    background-color: rgb(33,125,187);
    border-color: rgb(33,125,187);
}
.btn-custom:focus{
    color: #fff;
}
.btn-custom:focus{
    color: #fff;
}
.btn-custom:active{
    color: #fff;
    background-color: rgb(28,105,157);
    border-color: rgb(28,105,157);
}
.form-horizontal .control-label.oyko-label{
    color: rgb(131,131,131);
    font-weight: 300;
    padding-right: 11px;
}

.navbar-nav.user>li{
    color: #fff;
}
.navbar-nav.user>li .a_bro{
    padding: 2px 5px;
    font-weight: 600;
}
.navbar-nav.user>li>a{
    color: #fff;
    padding: 2px 5px;
    display: inline;
}
.navbar-nav.user>li>a:hover{
    color: #f7f7f7;
}
.navbar-default .navbar-nav.user>.open>a:focus{
    color: #fff;
}
.navbar-default .navbar-nav.user>.open>a,
.navbar-default .navbar-nav.user>.open>a:active,
.navbar-default .navbar-nav.user>.open>a:hover{
    color: #fff;
    background-color: rgb(29,73,108);
}

.user-block .dropdown-menu>li>a{
    color: #777;
}
.panel-heading .panel-title{
    color: #333;
}
.navbar-default .navbar-nav.main-menu>li>a{
    color: #fff;
}
.navbar-default .navbar-nav.main-menu>.active>a{
    color: #fff;
    font-weight: 600;
    background-color: rgb(52,152,219);
}
.navbar-default .navbar-nav.main-menu>li>a:hover,
.navbar-default .navbar-nav.main-menu>.active>a:hover{
    background-color: rgb(73,133,191);
    color: #fff;
}
.navbar-default .navbar-nav.main-menu>li>a:focus,
.navbar-default .navbar-nav.main-menu>.active>a:focus{
    color: #fff;
}
.navbar-default .navbar-nav.main-menu>li>a:active,
.navbar-default .navbar-nav.main-menu>.active>a:active{
    background-color: rgb(0, 109, 176);
    color: #fff;
}
table.dataTable thead .sorting:after{
    content: ''!important;
}
table.dataTable thead .sorting_asc:after{
    content: '\e094'!important;
}
table.dataTable thead .sorting_desc:after{
    content: '\e093'!important;
}

table.dataTable thead>tr>th,
table.dataTable thead>tr>td{
    color: #525659;
}
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting{
    background-color: #fff;
}
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc{
    background-color: #F5F5F5;
}

table.dataTable thead>tr>th.sorting:hover,
table.dataTable thead>tr>td.sorting:hover,
table.dataTable thead>tr>th.sorting_asc:hover,
table.dataTable thead>tr>th.sorting_desc:hover,
table.dataTable thead>tr>td.sorting_asc:hover,
table.dataTable thead>tr>td.sorting_desc:hover{
    background-color: #D9D9D9;
}
table.dataTable thead>tr>th.sorting:active,
table.dataTable thead>tr>td.sorting:active,
table.dataTable thead>tr>th.sorting_asc:active,
table.dataTable thead>tr>th.sorting_desc:active,
table.dataTable thead>tr>td.sorting_asc:active,
table.dataTable thead>tr>td.sorting_desc:active{
    background-color: #BFBFBF;
}

.dataTable.user-table>tbody>.even>td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
    background-color: #fff;
    border-bottom: solid 2px #DFD6CF;
}
.dataTable.user-table>tbody>.odd>td,
.table>tbody>.odd>td,
.table>tbody>.odd>th,
.table>tfoot>.odd>td,
.table>tfoot>.odd>th,
.table>thead>.odd>td,
.table>thead>.odd>th{
    background-color: #F2F2F2;
}
.custom-wrapper{
    padding-top:25px;
    background-color: #fff;
    height: 100%;
}

.modal-header,
.modal-footer{
    background-color: #F2F2F2;
}
.modal-header{
    border-radius: 3px 3px 0;
}
.modal-footer{
    border-radius: 0 0 3px 3px;
}

.modal-footer .a_close{
    margin: 0 10px 0 20px;
}

.required{
    position: relative;
    padding-right:10px!important;
}

.required::before{
    color: #e74c3c;
    content: '*';
    position: absolute;
    right: 0;
}
.has-error .form-control{
    border-color: #e74c3c;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label{
    color: #e74c3c;
}

.success-status{
    display: none;
    color: #2ecc71;
}
.modal-content.grey{
    background-color: #f2f2f2;
    border-radius: 3px;
    border: solid 1px #999;
}
.modal-content.grey .message{
    font-weight: 600;
    text-align: center;
    margin: 15px;
}
.edit-user{
    color: #777;
}
.form-group .value{
    position: relative;
    top: 7px;
    word-break: break-all;
}

.red{
    color: #e74c3c;
}
.green{
    color: #2ecc71;
}
.lang-block
{
    text-align: right;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th{
    border-top: 0;
    border-bottom: solid 1px #DFD6CF;
}

.icon-pencil{
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
}
.icon-pencil:before{
    content: '';
    width: 17px;
    height: 17px;
    background: url("../img/pencil.svg") center center / contain no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.navbar-brand
{
    padding-top: 10px;
}

.navbar-brand img
{
    width: 40px;
}

.filters{
    margin-top: 20px;
    margin-bottom:10px;
}

.filters .one{
    display: block;
    float: left;
    margin-right: 5px;
}

.select2-container--default:hover .select2-selection--single{
    background-color: #D9D9D9;
}
.select2-container--default:active .select2-selection--single,
.select2-container--default.select2-container--below .select2-selection--single{
    background-color: #F2F2F2;
}
.select2-container--default:focus .select2-selection--single .select2-selection__placeholder,
.select2-container--default.select2-container--focus .select2-selection--single .select2-selection__placeholder,
.select2-container--default:hover .select2-selection--single .select2-selection__placeholder{
    color: #333!important;
}

.form-group .max-length{
    color: rgb(131,131,131);
    font-size: 11px;
}
.form-group .max-length .left-desc{
    float: right;
}
.form-group .categories{
    margin-top:8px;
}
.form-group .categories .c-label{
    text-transform: none;
    font-weight: 300;
    color: rgb(110,110,110);
}
#editContract .modal-dialog,
#editLoyalty .modal-dialog,
#editRetailer .modal-dialog,
#createRetailer .modal-dialog{
    width: 55%;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
    background: #fdcec4!important;
    border-radius: 0!important;
}

textarea.form-control{
    resize: vertical;
}

.form-horizontal.saved .form-group{
    margin-bottom:0;
}
.text-grey{
    color: rgb(166,166,166);
}
.nav-tabs{
    border: 0;
}
.nav-tabs>li{
    margin-right: 6px;
}
.nav-tabs>li>a{
    background: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #222;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    background-color: #d9d9d9;
    border: solid 1px #ddd;
    border-radius: 5px;
    font-weight: 600;
    color: #222;
}
.nav-tabs>li>a:hover{
    background-color: #BFBFBD;
    color: #222;
}
.nav-tabs>li>a:active{
    background-color: #A6A6A6;
    color: #222;
}
.nav-tabs>li>a:focus{
    color: #222;
}
.retailer-box .color-box{
    background: #ffffff;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 4px;
    cursor: default;
    display: block;
    float: left;
}
.retailer-box .text-box{
    display: table;
    position: relative;
    bottom: 10px;
    margin-left: 5px;
    word-break: break-word;
    padding-top: 10px;
    min-width: 150px;
    float: left;
    max-width: calc(100% - 40px);
}
.retailer-box .title{
    color: rgb(166,166,166);
}
.retailer-name{
    font-weight: 600;
    color: rgb(0,0,0);
    padding: 0;
    text-align: left;
    padding-top: 10px;
}
.title-status{
    font-weight: 300;
    color: rgb(0,0,0);
}
.retailer-status{
    padding-top: 6px;
    visibility: hidden;
}

.retailer-status .select2-container--default .select2-selection--single{
    border: 0;
    background: #fff;
    text-align: left;
}
.retailer-status .select2-container--default:active .select2-selection--single,
.retailer-status .select2-container--default.select2-container--below .select2-selection--single{
    background: #fff;
    border: 0;
}
.retailer-status .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.retailer-status .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.retailer-status .select2-container:focus{
    border: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #f2f2f2!important;
    color: #222!important;
}
.upper{
    color: rgb(113,113,113);
    font-size: 16px;
    margin-top: 0;
}
.images-box .title{
    font-size: 14px;
    color: #777;
    font-weight: 300;
}
.images-box .desc-size{
    color: #777;
    font-weight: 300;
    font-size: 11px;
}
.images-box>div{
    margin: 10px 0;
}
.images-box .img-box{
    position: relative;
    background-color: #F2F2F2;
}
.large .img-box{
    width: 330px;
    height: 210px;
}
.small .img-box{
    width: 190px;
    height: 122px;
}
.pos .img-box{
    width: 55px;
    height: 55px;
}
.logo .img-box{
    width: 200px;
    height: 200px;
}
.btn.btn-circle{
    padding: 4px 5px 6px;
    margin: 5px;
    border: 0;
    border-radius: 50%;
    float: right;
    width: 30px;
    height: 30px;
}
.edit-block-info{
    position: relative;
    float: right;
    top: -30px;
    border: 0;
    background: #fff;
    margin-bottom:-30px;
}

.dataTable tbody>tr:hover>td{
    background-color: #D9D9D9;
}
.dataTable tbody>tr:hover>td{
    background-color: #D9D9D9;
}

.dataTable tbody>tr.active>td{
    background-color: #bebebe;
}

.retailer-table tbody>tr{
    cursor: pointer;
}
.jFiler-items.jFiler-row{
    width: 100%;
    height: 100%;
}
.modal .jFiler-input-dragDrop{
    width: 100%;
    border: 0;
    background: none;
    float: right;
    padding: 50px 0 0 0;
}
.modal .jFiler-input-dragDrop .jFiler-input-inner{
    text-align: left;
}
.modal .jFiler-input-dragDrop .jFiler-input-inner .field_title{
    padding: 0 10px;
}
.modal .jFiler-input-choose-btn.blue{
    border: dotted 1px #ddd;
    min-width: 220px;
}
.modal .jFiler-items-grid .jFiler-item .jFiler-item-container{
    padding: 0;
}
.modal .jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb{
    width: 220px;
    background-color: #f2f2f2;
}
.modal .jFiler-items-grid .jFiler-item .jFiler-item-container{
    margin: 0;
}
#preview{
    min-height: 150px;
    background-color: #f2f2f2;
}

.jFiler-item{
    list-style-type: none;
}
.ico-times,
.pencil-before{
    position: relative;
}
.pencil-before::before{
    content: '';
    width: 17px;
    height: 17px;
    background: url("../img/pencil.svg") center center / contain no-repeat;
    position: absolute;
    left: -8px;
    top: -8px;
}
.ico-times:before{
    content: '';
    width: 10px;
    height: 10px;
    background: url("../img/Cross.svg") center center / contain no-repeat;
    position: absolute;
    left: -5px;
    top: -4px;
}

#editContract .modal-body,
#editLoyalty .modal-body{
    color: #777!important;
}

#editContract .jFiler-input-caption>span,
#editLoyalty .jFiler-input-caption>span{
    color: #fff;
}
#editContract .jFiler-input-caption>span>b,
#editLoyalty .jFiler-input-caption>span>b{
    color: #777;
}

.mini-modal{
    width: 30%;
}

.second{
    font-weight: 100;
    color: #777;
}

.btn-custom.disable{
    background: rgb(230,230,230);
    border-color: rgb(230,230,230);
    cursor: default
}
.btn-custom.disable:active{
    box-shadow: none;
    padding: 6px 15px;
}
.btn-custom.disable:focus{
    outline: none;
}
.btn-custom.enabled-grey{
    background: #BFBFBF;
    border-color: #BFBFBF;
    cursor: pointer
}
.btn-custom.enabled-grey:hover{
    background: #A6A6A6;
    border-color: #A6A6A6;
}
.btn-custom.enabled-grey:active{
    background: #7F7F7F;
    border-color: #7F7F7F;
}
.decs-blocked{
    padding: 15px;
    background: #FF8182;
    font-size: 18px;
}
.setect2__checkbox-label{
    position: relative;
    padding-left:30px;
    font-weight: 300;
}
.setect2__checkbox-label::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/checkbox-sprite-blue.png) no-repeat 1px 1px;
    left: 5px;
    top: 1px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] .setect2__checkbox-label::before{
    background: url(../img/checkbox-sprite-blue.png) no-repeat -20px 1px;
}
.select2-container--default .select2-results__option[aria-selected=true] .setect2__checkbox-label::before{
    background: url(../img/checkbox-sprite-blue.png) no-repeat -39px 1px;
}

.form-horizontal .has-error .control-label.oyko-label{
    color: #e74c3c;
}
.pos-on-table{
    width: 30px;
    height: 30px;
}
.jFiler-theme-default .jFiler-input{
    width: 100%!important;
}
.navbar-static-top{
    z-index: 9;
}

.table>thead>tr>td,
.table>thead>tr>th{
    font-size: 12px;
}
.large .img{
    max-width:  340px;
    max-height: 210px;
}
.small .img{
    max-width:  190px;
    max-height: 122px;
}
.pos .img{
    max-width:  55px;
    max-height: 55px;
}
.logo .img{
    max-width:  200px;
    max-height: 200px;
}

.images-box{
    border-right:solid 2px #ddd
}

.btn.btn-circle.delete-img:hover,
.btn.btn-circle.edit-img:hover{
    background-color: rgb(191,191,191);
}
.btn.btn-circle.delete-img:active,
.btn.btn-circle.edit-img:active{
    background-color: rgb(166,166,166);
}
.btn.btn-circle.edit-block-info{
    position: relative;
    right:10px;
    top:-30px;
    background-color: rgb(242,242,242);
    margin-bottom: -20px;
}
.btn.btn-circle.edit-block-info:hover{
    background-color: rgb(217,217,217);
}
.btn.btn-circle.edit-block-info:hover{
    background-color: rgb(191,191,191);
}

.nav-tabs .li-back{
    width: 156px;
    padding-top:24px;
}
.nav-tabs>.li-back>a{
    background: none;
    border: none;
    color: rgb(53,114,176);
    padding: 0 0 0 10px;
}

.nav-tabs>.li-back>a:hover,
.nav-tabs>.li-back>a:focus{
    background: none;
    color: #1b809e;
    text-decoration: underline;
}
.tab-pane.fade.in.active{
    padding: 0 15px;
}

table.dataTable thead>tr>th.sorting_asc small,
table.dataTable thead>tr>th.sorting_desc small,
table.dataTable thead>tr>th.sorting small,
table.dataTable thead>tr>td.sorting_asc small,
table.dataTable thead>tr>td.sorting_desc small,
table.dataTable thead>tr>td.sorting small{
    font-weight:300;
}

@media (max-width: 1240px)
{
    .modal-body .categories .col-md-6
    {
        width: 100% !important;
    }
}

.edit-pos{
    background: none;
    border: none;
    margin: 0 10px;
}

.jFiler-input-caption>span{
    color: #fff;
}
.jFiler-input-caption>span>b{
    color: #666;
}

.form-control{
    color: rgb(0,0,0);
}
table.dataTable
{
    width: 100% !important;
}

.page-title{
    color: #726C6C;
    font-weight: 600;
}

.label-o{
    color: #726C6C;
    font-weight: 300;
}
.text-value{
    margin-top: 20px;
    display: block;
    font-size: 20px;
    color: #000;
}

.daterangepicker{
    top: 193px!important;
}
*{
    outline: none!important;
}
.modal-title{
    color: rgb(50,50,50);
}
.select2-container--default .select2-selection--single .select2-selection__rendered span:hover{
    text-decoration: underline;
}

.user-table td:last-child{
    width: 25px!important;
}
.black{
    color: rgb(50,50,50);
}

.vertical-middle-wrapper {
    width: 100%;
    content: '';
    display: table;
    height: 100%;
    vertical-align: middle;
}

.vertical-middle-wrapper > * {
    vertical-align: middle !important;
    height: 100% !important;
    display: table-cell !important;
}
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting{
    padding-right: 20px;
}
table.dataTable thead>tr>th.sorting_asc:nth-child(1),
table.dataTable thead>tr>th.sorting_desc:nth-child(1),
table.dataTable thead>tr>th.sorting:nth-child(1),
table.dataTable thead>tr>td.sorting_asc:nth-child(1),
table.dataTable thead>tr>td.sorting_desc:nth-child(1),
table.dataTable thead>tr>td.sorting:nth-child(1){
    width: 46px!important;
}
table.dataTable thead>tr>th.sorting_asc:nth-child(2),
table.dataTable thead>tr>th.sorting_desc:nth-child(2),
table.dataTable thead>tr>th.sorting:nth-child(2),
table.dataTable thead>tr>td.sorting_asc:nth-child(2),
table.dataTable thead>tr>td.sorting_desc:nth-child(2),
table.dataTable thead>tr>td.sorting:nth-child(2){
    width: 40px!important;
}
table.retailer-table thead>tr>th.sorting_asc:nth-child(6),
table.retailer-table thead>tr>th.sorting_desc:nth-child(6),
table.retailer-table thead>tr>th.sorting:nth-child(6),
table.retailer-table thead>tr>td.sorting_asc:nth-child(6),
table.retailer-table thead>tr>td.sorting_desc:nth-child(6),
table.retailer-table thead>tr>td.sorting:nth-child(6){
    width: 240px!important;
}
table.dataTable thead>tr>th.sorting_asc:nth-child(9),
table.dataTable thead>tr>th.sorting_desc:nth-child(9),
table.dataTable thead>tr>th.sorting:nth-child(9),
table.dataTable thead>tr>td.sorting_asc:nth-child(9),
table.dataTable thead>tr>td.sorting_desc:nth-child(9),
table.dataTable thead>tr>td.sorting:nth-child(9){
    width: 70px!important;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting{
    padding-right: 20px!important;
}
.images-box>div{
    border-bottom: solid 1px #ddd;
}

.images-box>div:last-child{
    border-bottom: none !important;
}

table.dataTable thead>tr>th, table.dataTable thead>tr>td{
    color: rgb(50,50,50);
    font-size: 12px;
}
table.dataTable td{
    font-size: 12px!important;
}
select.form-control,
input.form-control,
textarea.form-control{
    padding: 6px 9px;
}

.text-box .title{
    padding: 0 5px 0 0;
    min-width: 60px;
    line-height: 40px;
}
.title,
.retailer-name{
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.edit-img
{
    right: 30px !important;
}

.delete-img
{
    margin-left: 0 !important;
}

.pos-btns
{
    width: 131px;
}


.pos .btn.btn-circle
{
    position: absolute;
    top: 0;
}


.pos .btn.btn-circle.delete-img
{
    left: 95px;
}

.pos .btn.btn-circle.edit-img
{
    left: 55px;
}
table.pos-table thead>tr>th.sorting_asc:nth-child(1),
table.pos-table thead>tr>th.sorting_desc:nth-child(1),
table.pos-table thead>tr>th.sorting:nth-child(1),
table.pos-table thead>tr>td.sorting_asc:nth-child(1),
table.pos-table thead>tr>td.sorting_desc:nth-child(1),
table.pos-table thead>tr>td.sorting:nth-child(1){
    width: 25px!important;
}
.pos-table tbody td:nth-child(3),
.pos-table tbody td:nth-child(4),
.retailer-table tbody td:nth-child(4),
.retailer-table tbody td:nth-child(5),
.pos-table tbody td:nth-child(5),
.pos-table tbody td:nth-child(6){
    word-break: break-all;
}
.retailer-table thead th:nth-child(4),
.retailer-table thead th:nth-child(5),
.retailer-table tbody td:nth-child(4),
.retailer-table tbody td:nth-child(5){
    width: 130px!important;
}
table.pos-table tbody td:nth-child(3),
table.pos-table thead th:nth-child(3),
table.pos-table tbody td:nth-child(4),
table.pos-table thead th:nth-child(4){
    width: 150px!important;
}
table.pos-table tbody td:nth-child(5),
table.pos-table thead th:nth-child(5),
table.pos-table tbody td:nth-child(6),
table.pos-table thead th:nth-child(6){
    width: 250px!important;
}
.user-table tbody td:nth-child(2),
.user-table tbody td:nth-child(3){
    min-width: 150px;
}
.log-table tbody td:nth-child(2),
.log-table tbody td:nth-child(3){
    min-width: 300px;
}
.pos-img{
    width: 30px;
    height: 30px;
}

.enabled-grey.mini{
    position: absolute;
    padding: 0 5px;
    top: 6px;
    right: 6px;
}
.select2-container .select2-search--inline
{
    width: 1px !important;
}

div.one:first-child span.select2-container
{
    width: 200px !important;
}
.modal-open {
    padding-right: 0!important;
}
body{
    padding-right: 0!important;
}

.retailer-status .select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: right;
    padding-right: 30px;
}

.select2-selection:hover .select2-selection__rendered>span,
.select2-selection:focus .select2-selection__rendered>span,
.select2-selection:active .select2-selection__rendered>span{
    text-decoration: underline;
}

#info
{
    margin-top: 20px;
}

.dataTables_processing
{
    border: none;
    box-shadow: none;
    height: 50px;
}

.dataTables_processing img
{
    width: 30px;
}

.retailer_tab_back
{
    background: url(/assets/admin/img/back_to_list_fon.png) no-repeat !important;
    background-size: 75px !important;
    height: 78px !important;
    width: 75px !important;
    padding-top: 29px !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
    position: relative !important;
    top: -19px;
}

.row-retailer-content
{
    padding-top: 25px;
    height: 50px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}